@model PagedList.PagedList<BaseballStas.Models.vm.HallOfFamePlayerVM>
@using Newtonsoft.Json;

<div class="row">

    <h1> About </h1>


    <p>
        The National Baseball Hall of Fame and Museum is a history museum and hall of fame in Cooperstown, New York, operated by private interests. It serves as the central point of the history of baseball in the United States and displays baseball-related artifacts and exhibits, honoring those who have excelled in playing, managing, and serving the sport. The Hall's motto is "Preserving History, Honoring Excellence, Connecting Generations". Cooperstown is often used as shorthand for the National Baseball Hall of Fame and Museum, similar to "Canton" for the Pro Football Hall of Fame in Canton, Ohio.
    </p>

    <h1> Inductees (Page @Model.PageNumber)</h1>

    <div class="col-md-4">
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Year</th>
                    <th scope="col">Country</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in Model)
                {
                    <tr>
                        <td>@player.FirstName</td>
                        <td>@player.LastName</td>
                        <td>@player.Year</td>
                        <td>@player.CountryOfBirth</td>
                    </tr>
                }
            </tbody>
        </table>

        <ul class="pagination pagination-lg">
            @{
                if (!Model.IsFirstPage)
                {
                    <li class="page-item"><a class="page-link" href="@Url.Action("Index", "Home", new { pageIndex = Model.PageNumber -1 })">Prev</a></li>
                }
                if (!Model.IsLastPage)
                {
                    <li class="page-item"><a class="page-link" href="@Url.Action("Index", "Home", new { pageIndex = Model.PageNumber + 1 })">Next</a></li>
                }
            }
            <li class="page-item"><a class="page-link" id="export" onclick="downloadPDF()">Export</a></li>

        </ul>

    </div>
</div>
<div>
    <canvas id="myChart"></canvas>
</div>


<!------------------------------------------------------------------------------------------------------------------->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
<script src="https://cdnjs.cloudfare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
<!------------------------------------------------------------------------------------------------------------------->


<script>
    $(document).ready(function () {
        // make into a json object
        var list = @Html.Raw(Json.Encode(Model));
        console.log(list);

        //Get the labels
        let LABELS = list.map(a => a.FirstName + " " + a.LastName + " " + a.Year);
        console.log(LABELS);

        //Get the data
        let DATA = list.map(a => a.NumerOfBallots);
        console.log(DATA);

        //Chart.js documentation
        const ctx = document.getElementById('myChart').getContext('2d');
        const bgColor = {
            id: 'bgColor',
            beforeDraw: (chart, steps, options) => {
                const { ctx, width, height } = chart;
                ctx.fillStyle = options.backgroundColor;
                ctx.fillRect(0, 0, width, height);
                ctx.restore();
            }
        }
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {

                labels: LABELS,
                datasets: [{
                    label: '# of Votes',
                    data: DATA,
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    borderWidth: 1
                }]
            },
            options: {
                animation: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    bgColor: {
                        backgroundColor: 'white'
                    }
                }

            },
            plugins: [bgColor]

        });

        
       
    });
    //When export button is clicked
    function downloadPDF() {
        const canvas = document.getElementById('myChart')

        //create image
        const canvasImage = canvas.toDataURL('image/jpeg', 1.0)

        //Image must go to pdf
        let pdf = new jsPDF('landscape');
        pdf.setFontSize(20);
        pdf.addImage(canvasImage, 'JPEG', 15, 15, 280, 150);
        pdf.save('chart.pdf')

    }
</script>
